@page "/ingredients/create"
@using CulinaryCommand.Inventory.Entities
@using CulinaryCommand.Inventory.Services
@inject LocationState locationState

@inject NavigationManager Nav
@inject IngredientService Ingredients
@rendermode InteractiveServer

<h3>Create Iengredient</h3>

<IngredientForm Model="model" FormTitle="Create Ingredient" OnValidSubmit="Save" />

@code {
    private Ingredient model = new();

    private async Task Save()
    {
        model.LocationId = locationState.CurrentLocation?.Id ?? 0;
        Console.WriteLine("=== DEBUG: " + model.Category, model.Name, model.LocationId);
        await Ingredients.CreateAsync(model);
        Nav.NavigateTo("/ingredients");
    }
}
